{% extends "layout.html" %}
{% block content %}
    <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br></div>
                <div class="col-md-12">
                    <h3 class="text-center">
                        Select Amount
                    </h3>
                    <br>
                    <form method="POST" action="">
                        <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('bank.callback', amount=50, mode=type) }}">50</a>
                            <br>
                            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('bank.callback', amount=100, mode=type) }}">100</a>
                            <br>
                            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('bank.callback', amount=250, mode=type) }}">250</a>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('bank.callback', amount=500, mode=type) }}">500</a>
                            <br>
                            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('bank.callback', amount=1000, mode=type) }}">1000</a>
                                <form method="POST" action="">
                                    <div class="form-group">
                                        {{ money.hidden_tag() }}
                                        {{ money.num.label(class="form-control-label") }}
                                        {% if money.num.errors %}
                                            {{ money.num(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in money.num.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ money.num(class="form-control form-control-lg",placeholder="Custom amount (Numbers only)") }}
                                        {% endif %}
                                    </div>
                                    <div>{{ money.submit(class="btn btn-outline-info") }}</div>
                                </form>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}