{% extends "layout.html" %}
{% block content %}
    {% if e==404 %}
        <div class="content-section">
            <h1>Oops. Page Not Found (404)</h1>
            <p>That page does not exist. Please try a different location</p>
        </div>
    {% elif e==403 %}
        <div class="content-section">
            <h1>You don't have permission to do that (403)</h1>
            <p>Please check your account and try again</p>
        </div>
    {% elif e==500 %}
        <div class="content-section">
                <h1>Something went wrong (500)</h1>
                <p>We're experiencing some trouble on our end. Please try again in the near future</p>
        </div>
    {% endif %}
{% endblock content %}